@model bool
@if (!Model)
{
    <span class="input-group-btn" id="subcribeBtn" onclick=" exchangeFile.subscribeFileNotification(); ">
        <a href="#" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-ok"></span> Subscribe</a>
    </span>
}
else
{
    <span class="input-group-btn" id="unscribeBtn" onclick="exchangeFile.unsubscribeFileNotification(); ">
        <a href="#" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-minus"></span> Unscribe</a>
    </span>
}
